{{ 'index-faqs.css' | asset_url | stylesheet_tag }}
<script src="{{ 'index-faqs-accordion.js' | asset_url }}" type="text/javascript" defer></script>
{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    }
  
    @media screen and (min-width: 991px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}

<section class="section-{{ section.id }}-padding cus-faqs-section">
  <div class="page-width">
     <div class="faqs-content-row">
       <div class="faqs-title-col">
         {% if section.settings.faq_heading != blank %}                    
         <h2 class="step-text-title color-span uppercase {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"> {{ section.settings.faq_heading }} </h2>
      {% endif %}
         {% render 'anchor', button_text: section.settings.faq_button_text, button_url: section.settings.faq_button_url, class: 'custom-site-btn btn-black btn-green' %}
       </div>
       <div class="accordion_container">
        {% assign counter_faq = 1 %}
        {% for block in section.blocks %}
            {% case block.type %}
                   {% when 'faq' %}
                        {% if block.settings.quiz != blank %} 
                            <div class="accordian-tabs faqs-accordian-tabs {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" {{ block.shopify_attributes }}
                            {% if settings.animations_reveal_on_scroll %}
                                data-cascade
                                style="--animation-order: {{ forloop.index }};"
                              {% endif %}>
                                <div class="accordion_head">
                                    <h4>{{ counter_faq }}. {{ block.settings.quiz }} <span class="plusminus"> {% render 'image-np', image: 'arrow-faq.svg', assetURL: true, srcset: false, sizes: false, width: 34, height: 34, lazy_load: true %} </span></h4>
                                </div>
                                <div class="accordion_body" style="display: none;">
                                    {{ block.settings.answer }}
                                </div>
                            </div>
                        {% endif %}
                        {% assign counter_faq = counter_faq | plus: 1 %}
            {% endcase %}
        {% endfor %}
        </div>
     </div>
  </div>
  <div class="tips-from-expert">
     <div class="tips-from-expert-title">
       {% if section.settings.team_heading != blank %}                    
        <h2 class="section-text-title uppercase color-span {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"> {{ section.settings.team_heading }} </h2>
        {% endif %}
        {% if section.settings.team_text != blank %}                    
        <p class="section-description {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"> {{ section.settings.team_text }} </p>
      {% endif %}    
     </div>
     <div class="tips-from-expert-slider {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <div class="owl-carousel">
            {% for block in section.blocks %}
                {% case block.type %}
                       {% when 'tips' %}
                            {% if block.settings.video_url != blank %} 
                                <div class="item">
                                    <div class="tips-from-expert-col" style="background-image:url('{{ block.settings.poster | image_url }}')">
                                       <a data-fancybox href="{{ block.settings.video_url }}"><span class="play-icon"></span></a>
                                      <h4> {{ block.settings.heading }} </h4>
                                    </div>
                                 </div>
                            {% endif %}
                {% endcase %}
            {% endfor %}
        </div>       
     </div>
  </div>
</section>

{% schema %}
    {
        "name": "FAQs",
        "settings": [
            {
                "type": "header",
                "content": "Frequently Asked Questions"
            },
            {
                "type": "html",
                "id": "faq_heading",
                "label": "Heading",
                "default" : "Frequently Asked <span>Questions</span>"
            },
            {
                "type": "text",
                "id": "faq_button_text",
                "label": "Button Text",
                "default": "get your peblz"
            },
            {
                "type": "url",
                "id": "faq_button_url",
                "label": "Button URL"
            },
            {
                "type": "header",
                "content": "Frequently Asked Questions"
            },
            {
                "type": "html",
                "id": "team_heading",
                "label": "Heading",
                "default": "Tips from <span>Experts</span>"
            },
            {
                "type": "inline_richtext",
                "id": "team_text",
                "label": "Text",
                "default": "Choose Peblz for a natural, effective, and sustainable approach to foot strengthening. Join the movement towards stronger, healthier feet today."        
            },
            {
                "type": "header",
                "content": "t:sections.all.padding.section_padding_heading"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "t:sections.all.padding.padding_top",
                "default": 100
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "t:sections.all.padding.padding_bottom",
                "default": 100
            }
        ],
        "blocks": [
            {
                "type": "faq",
                "name": "FAQ",
                "settings": [
                    {
                        "type": "text",
                        "id": "quiz",
                        "label": "Question"
                    },
                    {
                        "type": "richtext",
                        "id": "answer",
                        "label": "Answer"               
                    }
                ]
            },        
            {
                "type": "tips",
                "name": "Tips Item",
                "settings": [
                    {
                        "type": "inline_richtext",
                        "id": "heading",
                        "label": "Heading"               
                    },
                    {
                        "type": "image_picker",
                        "id": "poster",
                        "label": "Video Thumbnail"
                    },
                    {
                        "type": "text",
                        "id": "video_url",
                        "label": "Video URL"
                    }
                ]
            }            
        ],
        "presets": [
            {
                "name": "FAQs"
            }
        ]
    }
{% endschema %}
